@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-background {
    background: linear-gradient(45deg,#e3dc26, #110f14,#141316,#110f14, #110f14, #e3dc26);
    background-size: 300% 300%;
    animation: gradient-animation 10s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


  